@import "./_reset";

.btn {
  border: none;
  padding: 15px;

  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;

  @include for-desktop-up {
    // width: 203px;
    // height: 63px;
    font-size: 18px;
  }
}

.btn--pink {
  background: var(--pink-color);
  color: #fff;
}
.btn--stroke {
  border: 1px solid #111;
  background: transparent;
}
.title {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;

  color: #000000;
}

.discover--h1 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 36px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover--svg {
  width: 150.49px;
  height: 38.97px;
  position: relative;
  left: 4em;
  top: 2.5em;

  background: rgba(202, 217, 222, 0.54);
  z-index: -1;
}

.collections--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  .discover--female {
    background: url("../images/discover_female.png") no-repeat center center /
      cover;
    height: 30vh;
    width: 100%;
  }

  .discover--male {
    background: url("../images/discover_male.png") no-repeat center center /
      cover;
    height: 30vh;
    width: 100%;
  }
}

// Cart Design
.cart--bg {
  background: #fafafa;
  padding: 2em;
  margin-top: 1em;

  .cart--img {
    width: 83px;
    height: 91px;
    border-radius: 20px;
    object-fit: cover;

    @include for-desktop-up {
      margin-left: auto;
    }
  }

  .cart--columns {
    display: none;

    @include for-desktop-up {
      display: flex;
      width: 80%;
      margin: auto;

      .total--h3 {
        margin-left: auto;
      }

      .qty--h3 {
        margin-left: auto;
        position: relative;
        right: 6em;
      }
      .price--h3 {
        margin-left: auto;
        position: relative;
        left: 3.4em;
      }
      .product--h3 {
        margin-left: 2em;
      }
    }
  }

  .cart--items__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;

    @include for-desktop-up {
      flex-direction: row;
      width: 80%;
      margin: auto;
      padding-bottom: 5em;
    }

    .cart--remove--icon {
      border: none;
      background: transparent;
      text-align: center;
      cursor: pointer;
      outline: var(--pink-color);
      margin-bottom: 1em;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }

    .cart--title__container {
      @include for-desktop-up {
        margin-right: auto;
        padding-left: 1em;
      }

      .cart--title {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
      }
    }

    .cart--list {
      margin-top: 4em;
    }

    .cart--count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 153px;

      @include for-desktop-up {
        margin-right: auto;
      }
    }

    .icon--border {
      border: 0.5px solid #bdbbcd;
      background: transparent;
      border-radius: 50px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .cart--price__container {
      @include for-desktop-up {
        position: relative;
        right: 5em;
      }
    }

    .cart--title,
    .cart--price,
    .cart--count--h5 {
      line-height: 0;
    }

    .cart--price,
    .cart--count--h5 {
      font-size: 18px;
    }
  }
  .cart--totals {
    width: 80%;
    margin: auto;
  }
}
