.footer-bg {
  background: var(--dark-color);
  height: auto;
  color: #fff;

  .blue-button {
    background: var(--blue-color);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 222px;
    height: 63px;
    text-align: center;
  }

  .f1 {
    margin: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}
